<html>
   <head>
      <link rel="stylesheet" type="text/css" href="../styles/about.css" />
   </head>
   <body>
   <div class="about">
       <p>This is a project created by the students of Faculty of Technical Sciences in Serbia, </p>
       <a href="https://github.com/slepimis120">Nemanja Simsic</a>
       <br/>
       <p>and</p>
       <br/>
       <a href="https://github.com/sv50-2020">Zorica Pesic</a>
       <br/>
       <p>for the 3rd year class "computer intelligence"</p>
       <br/>
       <a href="main.html">Return back</a>
   </div>
   </body>
</html>