<html>
   <head>
       <title>PlaylistGenie</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/about.css') }}" />
   </head>
   <body>
   <div class="about">
       <p>This is a project created by the students of Faculty of Technical Sciences in Serbia, </p>
       <a href="https://github.com/slepimis120">Nemanja Simsic</a>
       <br/>
       <p>and</p>
       <br/>
       <a href="https://github.com/sv50-2020">Zorica Pesic</a>
       <br/>
       <p>for the 3rd year class "computer intelligence"</p>
       <br/>
       <a href="/">Return back</a>
       <ul>
           {% for playlist in playlists %}
         <li><a>{{ playlist.name }}</a></li>
           {% endfor %}
      </ul>
   </div>
   </body>
</html>