<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/playlist.css') }}" />
   </head>
   <body>
      <div class="menu">
          <ul>
           {% for playlist in playlists %}
         <li><a href="{{ url_for('autoencoder', my_var=playlist.id) }}">{{ playlist.name }}</a></li>
           {% endfor %}
      </ul>
      </div>
     <!-- <h1>Popular Playlists</h1>
      <ul>
           {% for playlist in playlists %}
         <li><a>{{ playlist.name }}</a></li>
           {% endfor %}
      </ul>
      -->
   </body>
</html>