.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexbox{
  display: table;
  width: 80%;
  border-spacing: 30px;

}

.card {
  aspect-ratio: 1 / 1 ;
  display: table-cell;
  height: 100%;
  cursor: pointer;
  transition: 0.4s;
}

tr{
  height: 1px;
  table-layout: fixed;
}

td{
  height: inherit;
}

.card_image {
  width: inherit;
  height: inherit;
  background: black;
}

img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  opacity: 1;
}

.card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -20%;
  height: 40px;
  opacity: 1;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}